.switchTheme{
    position: fixed;
    right:-36px;
    bottom: 50%;
    background: #ffffff8c;
    color: white;
    padding: 20px 15px 20px 9px;
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 2;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.switchTheme-content{
    margin-left: 15px;
}
.switchTheme-arrow{
    position: relative;
    animation: leftArrow 0.8s ease-in infinite alternate;
}
.switchTheme_optionTheme{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(44, 44, 44);
    margin: 10px 0;
    cursor: pointer;
    transition: 0.1s;
}
.switchTheme_optionTheme:active{
    transform: scale(1.2);
}
.switchTheme_optionTheme-color{
    background: #26253b;
}

.switchTheme_optionTheme-color-2{
    background: #7267CB;
}

.switchTheme:hover{
    right:0;
}

.switchTheme-active{
    /* border: solid 3px #ffffff4d; */
    border-bottom: solid 3px #ffffff;
    animation: rotateSelect 2s infinite linear;
}

@keyframes leftArrow{
    0%{  
        left: -2px;
    }
    100%{
        left: 0;
    }
}

@keyframes rotateSelect{
    0%{  
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
