.header{
    position: relative;
}
.header-container{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    /* background: violet; */
    position: relative;
}


.fondosvg{
    position: absolute;
    height: 100%;   
    right: 0;
}

.color-bg-container{
    background: var(--color-bg);
}
.header-content{
    margin: auto 0 auto 0;
}

.header-content .titulo,.header-content .titulo2{
    font-family: var(--font-family);
    /* color: var(--color-text); */
    font-weight: 600;
    font-size: 3.2rem;
    /* margin: 0 0 0rem 0; */
    background: var(--gradients-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.95;
}
.header-content .titulo2{
    margin: 0 0 1rem 0;
}

.header-content p{
    margin: 0 0 0 15px;
    font-family: var(--font-family-1);
    color: var(--color-text);
}

.header-content_input{
    margin: 2rem 0 0 15px;
}

.header-content_input button{
    overflow: hidden;
    font-size: 19px;
    outline: none;
    border: 0;
    background: var(--color-button);
    color: #e9e9e9;
    padding: 0.7rem 2rem 0.5rem 2rem;
    border-radius: 50px;
    font-family: var(--font-family);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: solid 3px #7267cb00;
    box-shadow: -3px -3px 4px 0px #ffffff1c, 4px 4px 4px 2px #00000026;
}

.header-content_input button::after{
    content: '';
    background: white;
    width: 50px;
    height: 180px;
    position: absolute;
    opacity: 0.5;
    transform: rotate(35deg);
    top: -82px;
    left: -70px;
    transition: 0.4s ease-out;
}

.header-content_input button:hover::after{
    left: 150%;
}

.header-content_input button:active{
    transform: translateY(1px);
    transition: 0.1s;
}

.header-img{
    margin: auto 0;
} 

.header-img img{
    max-width: 405px
}
/* .header-img{
    position: relative;
} */


@media screen and (max-width: 700px){
    .header-container{
        flex-direction: column;
        align-items: center;
    }
    .header-content{
        text-align: center;
        margin: auto 0 0 0;
    }
    .header-img img{
        max-width: 211px;
    }
}
