.contact-container{
    padding: 90px 20px;
}
.contact-content p{
    font-family: var(--font-family);
    color: white;
    text-align: center;
    font-size: 2rem;
}

.contact-formEmail{
    /* background: rgb(235, 235, 235); */
    padding: 40px 0;
    text-align: center;
}

.contact-formEmail-input{
    background: #ffffff;
    padding: 4px;
    border-radius: 30px;
    margin: 50px 0;
    display: inline-block;
    overflow: hidden;
    box-shadow: 2px 2px 3px #00000017;
    transition: 0.5s;
}

.contact-formEmail-input input{
    border: 0;
    padding: 0 15px;
    border-radius: 4px 0 0 4px;
    outline: 0;
}

.contact-formEmail-input button{
    border: 0;
    background: #663ff3;
    padding: 10px;
    /* border-radius: 0 10px 10px 0; */
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    width: 38px;
    height: 38px;
    transition: 0.2s;
    cursor: pointer;
}

.contact-formEmail-input button:active{
    transform: translateY(2px);
    
}
