*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* body{
  background: var(--color-bg);
   color: var(--color-text);
} */
.body{
  background: var(--color-bg);
  /* color: var(--color-text);  */
}

a{
  color: unset;
  text-decoration: none;
}


/* my node */

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.animationLoader{
  animation: initLoader 1s ease-in-out;
}

@keyframes initLoader{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
